:root {
  font-family: Menlo;
  font-size: 20px;
}

body,
html {
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  display: grid;
  grid-template-rows: 100px repeat(4, auto);
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px 5px;
  padding: 20px;
  border-radius: 20px;
  background-color: aquamarine;
  height: 500px;
  width: 600px;
}

#display {
  grid-row: 1 / 1;
  grid-column: 1 / 7;
  /* display: flex;
  flex-direction: column; */
  /* height: 1em; */
  width: 600px;
  /* direction: rtl; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

#display-top {
  /* height: auto; */
  /* text-align: right; */
}

/* #wrapper {
  overflow: visible;
  display: block;
} */

#display p {
  /* display: flex; */
  /* line-height: 1.5em; */
  text-align: right;
  vertical-align: bottom;
  direction: rtl;
  white-space: nowrap;
  overflow-x: hidden;
  /* overflow-y: visible; */
  text-overflow: ellipsis;
  margin: 0;
  padding: 20px 0 20px 0;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.25em;
  line-height: 0;
  font-size: 90%;
}

button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
