:root {
  font-family: Menlo;
  font-size: 20px;
}

body,
html {
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  display: grid;
  grid-template-rows: 100px repeat(4, auto);
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px 5px;
  padding: 20px;
  border-radius: 20px;
  background-color: aquamarine;
  height: 500px;
  width: 600px;
}

#display {
  grid-row: 1 / 1;
  grid-column: 1 / 7;
  text-align: right;
  width: 600px;
}

button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
